html {
    display:block;
    width:960px;
    margin:0 auto;
}
body {
    padding:0;
    margin:20px;
    text-align:center;
    font-family: Arial;
    background-color:#fefefe;
    margin: 0 auto;
}
h2 {
    color: #646464;
    font-size: 22px;
}
li {
    list-style:none;
}
a {
    color:black;
}
a:hover {
    color:#fa7f00;
}
.container {
    margin:0 auto;
    padding:5px;
    width:450px;
    text-align:left;
}
.container div {
    margin:10px 0;
}
label {
    float:left;
    width:200px;
    text-align:right;
    margin-right:10px;
}
.radio {
    padding-left:210px;
}
checkbox {
    margin:10px 0;
}
textarea {
    margin:2px 0;
}
#submit {
    text-align:center;
    padding-left:70px
}
#wrapper {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align:right;
}
#menucontainer {
    height:100%;
    width:100%;
    text-align: left;
}
#menucontainer ul {
    padding:0;
    color: black;
    width: 100%;
    line-height:22px;
}
#menucontainer ul li.forms a {
    color: #fa7f00;
}
#menucontainer ul li.forms a:hover{
    color:black;
}
#top_menu ul li{
    float:left;
    width: 140px;
}
#top_menu {
    height: 20px;
    text-align: center;
    margin-left: 40px;
}
#user {
    float: right;
    position: relative;
    top: -80px;
}
#title {
    height: 80px;
}
#content h1 {
    margin-left:40px
}
#title h1 {
    margin-left: -60px;
}
table {
    margin: 0 auto;
}
#login label {
    margin-left: 200px;
}
